RewriteCond %{HTTP_HOST} ^fendicasa\.com\.tw$ [OR]
RewriteCond %{HTTP_HOST} ^www\.fendicasa\.com\.tw$
RewriteRule ^/?$ "http\:\/\/udcasa\.com\.tw" [R=301,L]

<IfModule mod_rewrite.c>
   RewriteEngine on
   RewriteRule    ^$ app/webroot/    [L]
   RewriteRule    (.*) app/webroot/$1 [L]
</IfModule>

