<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    id="spring" version="2.5">

    <!-- ========================================================== -->
    <!-- Servlet -->
    <!-- ========================================================== -->

    <servlet>
        <servlet-name>nncloudtv</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>dispatchOptionsRequest</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>nncloudtv</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.png</url-pattern>
        <url-pattern>*.ico</url-pattern>
        <url-pattern>*.jpg</url-pattern>
        <url-pattern>*.js</url-pattern>
        <url-pattern>*.css</url-pattern>
        <url-pattern>*.swf</url-pattern>
        <url-pattern>*.html</url-pattern>
    </servlet-mapping>
    <listener>
        <listener-class>
           org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/spring-security.xml</param-value>
    </context-param>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <!-- ========================================================== -->
    <!-- Security -->
    <!-- ========================================================== -->

    <session-config>
        <session-timeout>1</session-timeout>
    </session-config>
    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>cors</filter-name>
        <filter-class>com.nncloudtv.filter.CorsFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>cors</filter-name>
        <url-pattern>/api/*</url-pattern>
    </filter-mapping>

    <!-- ========================================================== -->
    <!-- Error Handler -->
    <!-- ========================================================== -->

    <error-page>
       <error-code>404</error-code>
       <location>/WEB-INF/views/error/404.jsp</location>
    </error-page>
    <error-page>
       <error-code>413</error-code>
       <location>/WEB-INF/views/error/404.jsp</location>
    </error-page>
    <error-page>
       <error-code>415</error-code>
       <!-- change to error handler -->
       <location>/WEB-INF/views/error/415.jsp</location>
    </error-page>
    <error-page>
       <error-code>503</error-code>
       <location>/WEB-INF/views/error/503.jsp</location>
    </error-page>
    <!--
    <error-page>
       <exception-type>java.lang.NoClassDefFoundError</exception-type>
       <location>/WEB-INF/views/error/error.jsp</location>
    </error-page>
    <error-page>
       <exception-type>java.lang.Exception</exception-type>
       <location>/WEB-INF/views/error/error.jsp</location>
    </error-page>
    -->
    <error-page>
       <exception-type>java.lang.Throwable</exception-type>
       <location>/WEB-INF/views/error/error.jsp</location>
    </error-page>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>
</web-app>
